---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="TODO">
    <main class="mx-auto p-4 w-full max-w-4xl text-white text-lg leading-relaxed">
        <h1 class="text-4xl font-bold text-center mb-4">TODO List</h1>
        <ul class="list-disc pl-5">
            <li class="mb-2">시간표 추가</li>
            <li class="mb-2">코드 최적화</li>
            <li class="mb-2">해더 손보기</li>
            <li class="mb-2">(매우나중) 커뮤니케이션 추가</li>
        </ul> 
    </main>
</Layout>
