---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="시간표 조회" description="학년과 반을 선택하여 시간표를 조회하세요">
  <main class="mx-auto p-4 w-full max-w-4xl text-black dark:text-white text-lg leading-relaxed">
    <h1 class="text-4xl font-bold text-center mb-4">시간표 조회</h1>
    <div class="mb-4">
      <label for="grade" class="block mb-2">학년:</label>
      <select id="grade" class="border p-2 w-full dark:bg-gray-800 dark:text-gray-100">
        <option value="1">1학년</option>
        <option value="2">2학년</option>
        <option value="3">3학년</option>
      </select>
    </div>
    <div class="mb-4">
      <label for="class" class="block mb-2">반:</label>
      <select id="class" class="border p-2 w-full dark:bg-gray-800 dark:text-gray-100">
        <option value="1">1반</option>
        <option value="2">2반</option>
        <option value="3">3반</option>
        <option value="4">4반</option>
        <option value="5">5반</option>
        <option value="6">6반</option>
        <option value="7">7반</option>
        <option value="8">8반</option>
        <option value="9">9반</option>
        <option value="10">10반</option>
      </select>
    </div>
    <button id="fetch-timetable" class="bg-blue-500 text-white p-2 rounded flex items-center justify-center">
      <span>시간표 조회</span>
      <svg id="loading-icon" class="hidden ml-2 w-5 h-5 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </button>
    <div id="timetable-container" class="mt-4 p-4 bg-gray-100 dark:bg-gray-800 dark:text-gray-300 rounded">
      <table id="timetable" class="w-full border-collapse">
        <thead>
        <tr>
          <th class="border p-2">/</th>
          <th class="border p-2">월요일</th>
          <th class="border p-2">화요일</th>
          <th class="border p-2">수요일</th>
          <th class="border p-2">목요일</th>
          <th class="border p-2">금요일</th>
        </tr>
        </thead>
        <tbody>
          <tr><td class="border p-2">1교시</td></tr>
          <tr><td class="border p-2">2교시</td></tr>
          <tr><td class="border p-2">3교시</td></tr>
          <tr><td class="border p-2">4교시</td></tr>
          <tr><td class="border p-2">5교시</td></tr>
          <tr><td class="border p-2">6교시</td></tr>
          <tr><td class="border p-2">7교시</td></tr>
        </tbody>
      </table>
    </div>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const gradeElement = document.getElementById('grade');
      const classNumElement = document.getElementById('class');
      const fetchButtonElement = document.getElementById('fetch-timetable');
      const loadingIconElement = document.getElementById('loading-icon');
      let grade = localStorage.getItem('grade') ? parseInt(localStorage.getItem('grade') as string) : 1;
      let classNum = localStorage.getItem('classNum') ? parseInt(localStorage.getItem('classNum') as string) : 1;

      // @ts-ignore
      function updateGrade(event) {
        grade = parseInt(event.target.value);
        localStorage.setItem('grade', grade.toString());
      }

      // @ts-ignore
      function updateClassNum(event) {
        classNum = parseInt(event.target.value);
        localStorage.setItem('classNum', classNum.toString());
      }

      async function fetchTimetable() {
        try {
          if (fetchButtonElement) {
            (fetchButtonElement as HTMLButtonElement).disabled = true;
          }
          if (loadingIconElement) {
            loadingIconElement.classList.remove('hidden');
          }
          const response = await fetch(`https://school-fastapi-production.up.railway.app/?grade=${grade}&classnum=${classNum}`);
          if (!response.ok) {
            //@ts-ignore
            throw new Error('Network response was not ok');
          }
          const data = await response.json();
          const timetableElement = document.querySelector('#timetable tbody');
          if (timetableElement) {
            const periods = ['1교시', '2교시', '3교시', '4교시', '5교시', '6교시', '7교시'];
            const days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
            timetableElement.innerHTML = '';
            for (let i = 0; i < periods.length; i++) {
              const row = document.createElement('tr');
              const periodCell = document.createElement('td');
              periodCell.className = 'border p-2 text-center';
              periodCell.textContent = periods[i];
              row.appendChild(periodCell);
              for (const day of days) {
                const timetableCell = document.createElement('td');
                timetableCell.className = 'border p-2 text-center';
                timetableCell.innerHTML = data[day] && data[day][i] ? `<div>${data[day][i].subject}</div><div class="text-sm text-gray-500">${data[day][i].teacher}</div>` : '';
                row.appendChild(timetableCell);
              }
              timetableElement.appendChild(row);
            }
          }
        } catch (error) {
          console.error('Error fetching timetable:', error);
        } finally {
          (fetchButtonElement as HTMLButtonElement).disabled = false;
          if (loadingIconElement) {
            loadingIconElement.classList.add('hidden');
          }
        }
      }

      if (gradeElement) {
        (gradeElement as HTMLSelectElement).value = grade.toString();
        gradeElement.addEventListener('change', updateGrade);
      }
      if (classNumElement) {
        (classNumElement as HTMLSelectElement).value = classNum.toString();
        classNumElement.addEventListener('change', updateClassNum);
      }
      if (fetchButtonElement) {
        fetchButtonElement.addEventListener('click', fetchTimetable);
      }

      // 페이지 로드 시 로컬 스토리지에 값이 있으면 시간표 조회
      if (localStorage.getItem('grade') != null) {
        grade = parseInt(localStorage.getItem('grade') as string);
        classNum = parseInt(localStorage.getItem('classNum') as string);
        fetchTimetable();
      }
    });
  </script>
</Layout>
